<!-- Post Pagination 2 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8" th:fragment="post_pagination">
	<div class="overflow-hidden">
		<div class="row">
			<div class="col-12 col-lg-12 col-xl-12">
				<div class="p-4 p-md-5 border border-light-subtle border-bottom-0">
					<div class="row gy-3 gy-md-0 align-items-md-center">
						<div class="col-12 col-md-2">
							<a href="#!"> 
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  					<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
               	 				</svg>
							</a>
						</div>
						<div class="col-12 col-md-8">
							<a href="#!" class="d-block px-md-3 text-decoration-none">
								<h5 class="text-secondary fw-bold fs-6 mb-3">Previous Post</h5>
								<h2 class="text-success fs-5">
									PAGINATION - Useful Skateboarding Tips For Beginners
								</h2>
							</a>
						</div>
						<div class="col-12 col-md-2">
							<a href="#!" class="bsb-hover-image d-block rounded overflow-hidden"> 
								<img class="img-fluid author-avatar bsb-scale bsb-hover-scale-up" loading="lazy" src="https://cdn.pixabay.com/photo/2023/04/11/13/27/bird-7917250_960_720.jpg" alt="Useful Skateboarding Tips For Beginners">
							</a>
						</div>
					</div>
				</div>
				
				<div class="p-4 p-md-5 border border-light-subtle">
					<div class="row gy-3 align-items-md-center">
						<div class="col-12 col-md-2">
							<a href="#!" class="bsb-hover-image d-block rounded overflow-hidden"> 
								<img class="img-fluid author-avatar bsb-scale bsb-hover-scale-up" loading="lazy" src="https://cdn.pixabay.com/photo/2023/04/11/13/27/bird-7917250_960_720.jpg" alt="Reasons Why Photography Is an Art Form">
							</a>
						</div>
						<div class="col-12 col-md-8 text-end">
							<a href="#!" class="d-block px-md-3 text-decoration-none">
								<h5 class="text-secondary fw-bold fs-6 mb-3">Next Post</h5>
								<h2 class="text-success fs-5">
									Reasons Why Photography Is an Art Form
								</h2>
							</a>
						</div>
						<div class="col-12 col-md-2 text-end">
							<a href="#!"> 
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  					<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                				</svg>
							</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>