<!-- Project 2 - Bootstrap Brain Component -->
<section class="bg-light py-5 py-xl-8" th:fragment="mansonry">

  

  <div class="overflow-hidden">
    <div class="row gy-2 g-md-2 g-xl-3 bsb-project-2-grid">

      <div class="col-12 col-md-4 bsb-project-2-item">
        <figure class="rounded rounded-3 overflow-hidden bsb-overlay-hover m-0">
          <a href="#!">
            <img class="img-fluid bsb-scale bsb-hover-scale-up" src="https://cdn.pixabay.com/photo/2017/07/31/11/21/people-2557399_960_720.jpg" alt="Nature">
          </a>
          
        </figure>
      </div>

      <div class="col-12 col-md-4 bsb-project-2-item">
        <figure class="rounded rounded-3 overflow-hidden bsb-overlay-hover m-0">
          <a href="#!">
            <img class="img-fluid bsb-scale-up bsb-hover-scale" src="https://cdn.pixabay.com/photo/2016/11/23/17/30/girls-1853958_960_720.jpg" alt="Adventure">
          </a>
        </figure>
      </div>

      <div class="col-12 col-md-4 bsb-project-2-item">
        <figure class="rounded rounded-3 overflow-hidden bsb-overlay-hover m-0">
          <a href="#!">
            <img class="img-fluid bsb-scale bsb-hover-scale-up" src="https://cdn.pixabay.com/photo/2016/11/08/05/32/rice-1807547_640.jpg" alt="Adventure">
          </a>
        </figure>
      </div>

      <div class="col-12 col-md-4 bsb-project-2-item">
        <figure class="rounded rounded-3 overflow-hidden bsb-overlay-hover m-0">
          <a href="#!">
            <img class="img-fluid bsb-scale bsb-hover-scale-up" src="https://cdn.pixabay.com/photo/2017/07/31/11/21/people-2557396_960_720.jpg" alt="Photography">
          </a>
        </figure>
      </div>

      <div class="col-12 col-md-4 bsb-project-2-item">
        <figure class="rounded rounded-3 overflow-hidden bsb-overlay-hover m-0">
          <a href="#!">
            <img class="img-fluid bsb-scale bsb-hover-scale-up" src="https://cdn.pixabay.com/photo/2020/02/01/03/00/girl-4809433_640.jpg" alt="Design">
          </a>
        </figure>
      </div>

      <div class="col-12 col-md-4 bsb-project-2-item">
        <figure class="rounded rounded-3 overflow-hidden bsb-overlay-hover m-0">
          <a href="#!">
            <img class="img-fluid bsb-scale-up bsb-hover-scale" src="https://cdn.pixabay.com/photo/2017/07/31/11/21/people-2557396_960_720.jpg" alt="Design">
          </a>
        </figure>
      </div>

      <div class="col-12 col-md-4 bsb-project-2-item">
        <figure class="rounded rounded-3 overflow-hidden bsb-overlay-hover m-0">
          <a href="#!">
            <img class="img-fluid bsb-scale-up bsb-hover-scale" src="https://cdn.pixabay.com/photo/2017/08/30/12/45/girl-2696947_960_720.jpg" alt="Photography">
          </a>
        </figure>
      </div>
    </div>
  </div>
</section>