<div class="row my-5" th:fragment="small_carousel">

	<div class="col-md-12">
		<div class="featured-carousel owl-carousel">
		
			<div class="bsb-project-2-item">
			  <figure class="rounded rounded-3 overflow-hidden bsb-overlay-hover m-0">
			    <a href="#!">
			      <img class="img-fluid bsb-scale bsb-hover-scale-up" src="https://cdn.pixabay.com/photo/2020/02/01/03/00/girl-4809433_640.jpg" alt="Design">
			    </a>
			  </figure>
			</div>
			
			<div class="bsb-project-2-item">
			  <figure class="rounded rounded-3 overflow-hidden bsb-overlay-hover m-0">
			    <a href="#!">
			      <img class="img-fluid bsb-scale bsb-hover-scale-up" src="https://cdn.pixabay.com/photo/2020/02/01/03/00/girl-4809433_640.jpg" alt="Design">
			    </a>
			  </figure>
			</div>
			
			<div class="bsb-project-2-item">
			  <figure class="rounded rounded-3 overflow-hidden bsb-overlay-hover m-0">
			    <a href="#!">
			      <img class="img-fluid bsb-scale bsb-hover-scale-up" src="https://cdn.pixabay.com/photo/2020/02/01/03/00/girl-4809433_640.jpg" alt="Design">
			    </a>
			  </figure>
			</div>
			
			<div class="bsb-project-2-item">
			  <figure class="rounded rounded-3 overflow-hidden bsb-overlay-hover m-0">
			    <a href="#!">
			      <img class="img-fluid bsb-scale bsb-hover-scale-up" src="https://cdn.pixabay.com/photo/2020/02/01/03/00/girl-4809433_640.jpg" alt="Design">
			    </a>
			  </figure>
			</div>			
			
		</div>
	</div>
</div>