
<div class="d-inline text-content" th:fragment="right_tag">
	<div class="inline-block">
		<div class="tab-card inline-tab">
			<a href="#" class="tab-content" style="background: #dcf2e4">
				<i class="fab fa-html5" aria-hidden="true"></i> HTML
			</a>
		</div>
	</div>
	
	<div class="inline-block">
		<div class="tab-card inline-tab">
			<a href="#" class="tab-content" style="background: #dcf2e4">
				<i class="fab fa-html5" aria-hidden="true"></i> Spring Boot
			</a>
		</div>
	</div>
	
	<div class="inline-block">
		<div class="tab-card inline-tab">
			<a href="#" class="tab-content" style="background: #dcf2e4">
				<i class="fab fa-html5" aria-hidden="true"></i> Python Django
			</a>
		</div>
	</div>
	
	<div class="inline-block">
		<div class="tab-card inline-tab">
			<a href="#" class="tab-content" style="background: #dcf2e4">
				<i class="fab fa-html5" aria-hidden="true"></i> ReactJS
			</a>
		</div>
	</div>
	
	<div class="inline-block">
		<div class="tab-card inline-tab">
			<a href="#" class="tab-content" style="background: #dcf2e4">
				<i class="fab fa-html5" aria-hidden="true"></i> Laravel
			</a>
		</div>
	</div>

</div>

